footer#footer {
  background-color: var(--White);
  padding: 0px 60px;
  .wrapper {
    border-top: 1px solid var(--lightGray);
    padding-top: 36px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    @media screen and(max-width:740px) {
      flex-direction: column;
      align-items: center;
      align-content: space-around;
      gap: 0.7rem;
    }
    p {
      font-size: 1.1428571428571428em;
      font-weight: 600;
    }
    .footerLinks {
      font-size: 1.1428571428571428em;
      display: flex;
      gap: 60px;
      @media screen and(max-width:810px) {
        gap: 30px;
      }
      a {
        text-decoration: none;
        color: var(--Primary);
        font-weight: 600;
      }
    }
  }
}
